<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <title>Página principal</title>
    </head>
    <body>
    <h1>¡Bienvenido, <span th:text="${username}">Usuario</span>!</h1>
        <h2>Revisa nuestro catálogo</h2>
            <div th:each="product : ${products}">
                <p th:text="${product.getTitle()}">Nombre del producto</p>
                <p th:text="${product.getDescription()}">Descripción del producto</p>
                <p th:text="${product.getPrice()}">Precio del producto</p>
                <img th:src="@{${product.getImage()}}" alt="Imagen del producto" style="width: 200px; height: 200px;">
            </div>
    </body>
</html>