<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página principal</title>
</head>
<body>
    <header><h1>Bienvenido de vuelta...#nombre de usuario aquí#</h1></header>
    
    <div id="contenedor">
        <h2>Productos...</h2>
        <h3>producto 1, producto2</h3>
    </div>

    <div class="contenedor">
        <button action="/carritos.html" >Mis carritos</button>
    </div>
    <h1>*PENDING: Template Carritos *</h1>
</body>
</html>