<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Productos</title>
</head>
<body>
<h1>Productos</h1>
<div th:unless="${#lists.isEmpty(products)}">
  <ul>
    <li th:each="product : ${products}">
      <h2 th:text="${product.title}">Título</h2>
      <img th:src="${product.image}" alt="Imagen del producto" width="150" />
      <p><strong>Precio:</strong> <span th:text="${product.price}"></span></p>
      <p><strong>Descripción:</strong> <span th:text="${product.description}"></span></p>
      <p><strong>Categoría:</strong> <span th:text="${product.category}"></span></p>
      <hr/>
    </li>
  </ul>
</div>
</body>
</html>
